* {
  color: #442C2E;
}

.qualitiesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 10px;
}

.qualitiesCard {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
