<ion-header>
  <ion-toolbar>
    <ion-title>product</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding *ngIf="!id">
  <div class="qualitiesContainer">
    <ion-card *ngFor="let quality of qualities" (click)="changeMenu(quality.code)" class="qualitiesCard">
      <img class="qualitiesTagImage" [src]="quality.image" alt="">
      <div class="qualitiesTagName">{{quality.name}}</div>
    </ion-card>
  </div>
</ion-content>

<ion-content *ngIf="id">
  <div class="qualitiesListContainer">
    <ion-card *ngFor="let quality of qualityArray" class="qualitiesListCard">
      <img onerror="this.src='../../../assets/logoImages/camlogo.png'" [src]="quality.image_link" alt="API Image Not Available" class="qualitiesImage">
      <div class="qualitiesTitle">{{quality.name}}</div>
      <div class="qualitiesInfo">{{quality.brand !== null ? quality.brand : 'maybelline'}} | ${{(quality.price === '0.0' || quality.price === null) ? '5.0' : quality.price}}0</div>
      <div class="buttonContainer">
        <ion-button class="qualitiesButton" (click)="showDetails(quality.id)">View Details</ion-button>
        <ion-button class="qualitiesButton" (click)="loginService.currentUser ? firebaseService.addToCart(quality.id) : routeToLogin()">{{loginService.currentUser ? 'Add To Cart' : 'Sign In For Cart'}}</ion-button>
      </div>
    </ion-card>
  </div>
</ion-content>
