<ion-header>
  <ion-toolbar>
    <ion-title>product</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding *ngIf="!id">
  <div class="qualitiesContainer">
    <ion-card *ngFor="let quality of qualities" (click)="changeMenu(quality.code)" class="qualitiesCard">
      <img class="qualitiesImage" [src]="quality.image" alt="">
      <ion-card-title>{{quality.name}}</ion-card-title>
    </ion-card>
  </div>
</ion-content>

<ion-content *ngIf="id">
  <ion-card *ngFor="let quality of qualityArray">
    <ion-card-title>{{quality.name}}</ion-card-title>
    <button (click)="showDetails(quality.id)">View Details</button>
  </ion-card>
</ion-content>
