<ion-header>
  <ion-toolbar>
    <ion-title>productPage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="productId">
  <div id="productCardContainer" *ngIf="results$ | async as product">
    <ion-card class="productListCard">
      <div id="productHeader">
        <div id="productImage">
          <img onerror="this.src='../../../assets/logoImages/camlogo.png'" [src]="product.image_link" alt="API Image Not Available" class="productImage">
        </div>
        <div id="headerContent">
          <div class="productTitle">{{product.name}}</div>
          <div class="productInfo">{{product.brand !== null ? product.brand : 'maybelline'}} | ${{(product.price === '0.0' || product.price === null) ? '5.00' : product.price + (product.price.split('.')[1].length > 1? '': '0')}}</div>
        </div>
      </div>
      <div id="productDescription">
        {{product.description}}
      </div>
      <div id="colorContainer">
        <ion-chip *ngFor="let color of product.product_colors" [style.background]="color.hex_value"><ion-label>{{color.colour_name}}</ion-label></ion-chip>
      </div>
      <div class="buttonContainer">
        <ion-button class="productButton" (click)="loginService.currentUser ? firebaseService.addToCart(product.id) : routeToLogin()">{{loginService.currentUser ? 'Add To Cart' : 'Sign In For Cart'}}</ion-button>
      </div>
    </ion-card>
  </div>

  <div class="flairContainer">
    <img class="flair" src="../../../assets/newflair.png" alt="">
    <img class="flair" src="../../../assets/newflair.png" alt="">
    <img class="flair" src="../../../assets/newflair.png" alt="">
  </div>

  <div id="extraContainer">
    <ion-card class="similarContainer" *ngIf="similarProducts$ | async as similarProducts">
      <div class="similarCardContainer" *ngFor="let simProduct of similarProducts, let i = index">
        <div class="similarCard" *ngIf="i < 10" (click)="showDetails(simProduct.id)">
          <img onerror="this.src='../../../assets/logoImages/camlogo.png'" [src]="simProduct.image_link" alt="API Image Not Available" class="similarImage">
          <div>{{simProduct.name}}</div>
        </div>
      </div>
    </ion-card>
  </div>
</ion-content>
