* {
  color: #442C2E;
  font-family: 'Cinzel', serif;
}

ion-card {
  width: 80%;
}

ion-chip {
  font-size: 10px;
}

ion-label {
  color: #FFFFFF;
}

#colorContainer {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

#productCardContainer, #extraContainer {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#productHeader {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

#headerContent {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#productDescription {
  width: 80%;
  margin: 20px 0;
}

#productImage {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productListCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productImage {
  width: 250px;
  height: 200px;
  margin: 20px 10px 10px 10px;
  border: 2px solid #DCDCDC;
}

.productListContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 10px;
}

.productTitle {
  margin: 10px 0;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  width: 100%;
}

.productInfo {
  margin: 10px 0;
}

.buttonContainer {
  width: 80%;
  margin: 10px 10px 20px 10px;
}

.productButton {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
}

.productName {
  margin: 10px 10px 20px 10px;
}

.similarContainer {
  display: flex;
  overflow-x: scroll;
  width: 80%;
  align-items: baseline;
}

.similarImage {
  width: 100px;
  height: 100px;
}

.similarCard {
  display: flex;
  flex-direction: column;
  width: 200px;
  justify-content: center;
  align-items: center;
  margin: 10px;
  cursor: pointer;
  text-align: center;
}

.similarCardContainer:hover {
  text-decoration: underline;
}

.similarImage {
  margin-bottom: 20px;
  border: 1px solid #DCDCDC;
}
