* {
  color: #442C2E;
}

ion-toolbar {
  --background: #FEEAE6;
}

image {
  width: 50px;
  height: 50px;
}

#signin_button {
  width: 200px;
  display: block;
  margin: auto;
  cursor: pointer;
}

#singin_logo {
  width: 150px;
  display: block;
  margin: 50px auto;
}

#content {
  width: 100%;
  height: 100%;
}

input{
  padding: 10px;
  margin: auto auto 10px auto;
}
#orDiv{
  margin: auto;
}

.signInCard{
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
#emailSignInbtn{
  width: 50%;
  margin: auto;
}
#welcomeContent{
  margin: auto;
  align-items: center;
}
ion-card-header{
  margin: auto;
}
