* {
  color: #442C2E;
  font-family: 'Poiret One', cursive;
}

ion-toolbar {
  --background: #FEEAE6;
}

ion-title {
  text-align: center;
}

#emailSignInbtn {
  margin-top: 10px;
}

#signin_button {
  width: 200px;
  margin-bottom: 20px;
  display: flex;
  cursor: pointer;
}

#content {
  width: 100%;
  height: 100%;
}

.inputContainer {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signUpInputContainer  {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signUpButtons {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signUpBtn {
  width: 80%;
  margin-bottom: 10px;
}

.cancelButton {
  margin-bottom: 20px;
}

.signUpCard {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
}

input{
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

.signInCard{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
}

#googleLoginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.or {
  margin-bottom: 20px;
}

#newSignIn {
  justify-content: space-evenly;
  border-left: 2px solid #442C2E;
}

#emailSignInbtn{
  width: 50%;
  margin-bottom: 20px;
}
.welcomeContent{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backgroundCard {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-image: url("../../assets/unsplash/powderEyeshadow.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

.logo{
  width: 150px;
  height: 150px;
}

#notMember {
  margin-bottom: 20px;
}

.logo_btn{
  width: 75%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.newUser_btn{
  margin-bottom: 20px;
}

.flairContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flair {
  width: 200px;
  height: 50px;
}

#heroImageContainer {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#heroImage {
  width: 100%;
}

#heroLoginContainer {
  z-index: 1;
  width: 90%;
  position: relative;
  height: auto;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}



//Landing Page

h1{
  text-align: center;
}
.pictures{
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: row;
}
.imgage1{
  width: 100%;
  margin: 0;
  background-image: url("../../assets/unsplash/assortedMakeup.jpeg");
  background-size: cover;
}
.imgage2{
  width: 100%;
  margin: 0;
  background-image: url("../../assets/unsplash/makeUpBag.jpeg");
  background-size: cover;
}
.imgage3 {
  width: 100%;
  margin: 0;
  background-image: url("../../assets/unsplash/pinkBoxEyeshadowPalette.jpeg");
  background-size: cover;
}
.imgage4{
  width: 100%;
  margin: 0;
  background-image: url("../../assets/unsplash/powderEyeshadow.jpeg");
  background-size: cover;
}

footer{
  height: 200px;
  background-color: #FEEAE6;
}
