<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Welcome</ion-title>
  </ion-toolbar>
</ion-header>


<ion-button>Hello!</ion-button>

<div>
  <img (click)="registerGoogle()" src="../assets/btn_google_signin_dark_focus_web@2x.png" alt="">
</div>


<ion-content padding>

  <div id="content">
    <h1 id="title">Ready to Shop!</h1>
    <div>
      <!--<img id="signin_button" (click)="registerGoogle()" src="../assets/btn_google_signin_dark_focus_web@2x.png" alt="">-->

  <!--<div id="form">-->
      <!--<img id="signin_button" (click)="registerGoogle()" src="../assets/btn_google_signin_dark_focus_web@2x.png" alt="">-->
      <!--<img id="singin_logo" src="{{ profilePic }}" alt="">-->
    </div>
  </div>

</ion-content>
