<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Welcome to the Oasis</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding *ngIf="!loginService.currentUser">

    <div *ngIf="isNewUser" class="welcomeContent">
        <ion-card class="signInCard">
            <ion-card-header> New User </ion-card-header>
            <ion-card-content>
                <input type="text" [(ngModel)]="name" placeholder="Name" id="newName">
                <input type="email" [(ngModel)]="email" placeholder="email" id="newEmail">
                <input type="password" [(ngModel)]="password" placeholder="password" id="newPassword">
                <ion-button (click)="loginService.newUser(email, password); setUserName(name)">Submit</ion-button>
                <ion-button (click)="cancel()">Cancel</ion-button>
            </ion-card-content>
        </ion-card>
    </div>

    <div *ngIf="!isNewUser" class="welcomeContent">
        <ion-card class="backgroundCard">


            <ion-card class="signInCard">
                        <ion-card-header>Sign in with email</ion-card-header>
                        <input type="email" [(ngModel)]="email" placeholder="email" id="email">
                        <input type="password" [(ngModel)]="password" placeholder="password" id="password">
                        <ion-button id="emailSignInbtn" (click)="loginService.emailSignIn(email, password); setUserName(name)">Log In</ion-button>
                        <div>
                            <img id="signin_button" (click)="loginService.googleSignIn()" src="../../assets/btn_google_signin_dark_focus_web@2x.png" alt="">
                        </div>
            </ion-card>


            <ion-card class="signInCard">
                <div class="logo">
                    <img src="../../assets/logoImages/camlogo.png">
                </div>
                <div class="logo_btn">
                    <ion-button (click)="newUser()"> New User </ion-button>
                </div>
            </ion-card>



        </ion-card>
    </div>
</ion-content>


<ion-content *ngIf="loginService.currentUser">
    <div>Hi {{loginService.currentUser.name}}!</div>
    <ion-button (click)="loginService.logout(); cancel()">Logout</ion-button>
</ion-content>
