<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Welcome</ion-title>
  </ion-toolbar>
</ion-header>


<ion-button>Hello!</ion-button>

<div>
  <img  src="../assets/btn_google_signin_dark_focus_web@2x.png" alt="">
</div>


<ion-content padding>
    <div>Sign in with password</div>

        <input type="text" [(ngModel)]="name" placeholder="Name" id="name">
        <input type="email" [(ngModel)]="email" placeholder="email" id="email">
        <input type="password" [(ngModel)]="password" placeholder="password" id="password">
        <ion-button (click)="loginService.emailSignIn(email, password)">Submit</ion-button>
    <div>Or</div>
    <ion-button (click)="loginService.googleSignIn()">Sign in with Google</ion-button>

  <div>
    <h1>Ready to Shop!</h1>
  </div>

</ion-content>
