* {
  color: #442C2E;
  font-family: 'Poiret One', cursive;
}

ion-toolbar {
  --background: #FEEAE6;
}

ion-title {
  text-align: center;
}

h1{
  text-align: center;
}
.pictures{
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: row;
}
.imgage1{
  width: 100%;
  margin: 0;
  background-image: url("../../assets/unsplash/assortedMakeup.jpeg");
  background-size: cover;
}
.imgage2{
  width: 100%;
  margin: 0;
  background-image: url("../../assets/unsplash/makeUpBag.jpeg");
  background-size: cover;
}
.imgage3 {
  width: 100%;
  margin: 0;
  background-image: url("../../assets/unsplash/pinkBoxEyeshadowPalette.jpeg");
  background-size: cover;
}
.imgage4{
  width: 100%;
  margin: 0;
  background-image: url("../../assets/unsplash/powderEyeshadow.jpeg");
  background-size: cover;
}

footer{
  height: 200px;
  background-color: #FEEAE6;
}
