<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons (click)="viewCart()" class="cartIconContainer" slot="end">
      <ion-icon name="cart"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="mainContainer">
  <div class="imageContainer">
    <div class="slogan">The Oasis... More Than A Mirage</div>
    <img class="makeupImage" src="../../assets/unsplash/assortedMakeup.jpeg">
    <img class="makeupImage mobile" src="../../assets/unsplash/chanel.jpeg">
    <img class="makeupImage mobile" src="../../assets/unsplash/mirror%20images.jpeg">
    <img class="makeupImage mobile" src="../../assets/unsplash/painted%20nails.jpeg">
  </div>
  <div class="flairContainer">
    <img class="flair mobile" src="../../../assets/newflair.png" alt="">
    <img class="flair" src="../../../assets/newflair.png" alt="">
  </div>
  <div class="startShopping">
    <ion-button size="large" (click)="viewShop()" class="shoppingButton">START SHOPPING</ion-button>
  </div>
  <div class="flairContainer">
    <img class="flair mobile" src="../../../assets/newflair.png" alt="">
    <img class="flair" src="../../../assets/newflair.png" alt="">
  </div>
  <div class="footerContainer">
    <div class="socialMedia">
      <ion-icon name="logo-instagram"></ion-icon>
      <ion-icon name="logo-facebook"></ion-icon>
      <ion-icon name="logo-twitter"></ion-icon>
      <ion-icon name="logo-tumblr"></ion-icon>
      <ion-icon name="logo-youtube"></ion-icon>
      <ion-icon name="logo-pinterest"></ion-icon>
    </div>
  </div>
</ion-content>
