* {
  color: #442C2E;
  font-family: 'Poiret One', cursive;
}

ion-toolbar {
  --background: #FEEAE6;
}

ion-title {
  text-align: center;
}
.headerContainer{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.bodyContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cardBody{
  width: 30%;
  margin: 40px auto;
  border: 1px solid #FEDBD0;
}

.written{
  padding: 10px 30px;
  color: #442C2E;
  font-family: 'Poiret One', cursive;
  font-size: 18px;
}

.description{
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: #442C2E;
  font-family: 'Poiret One', cursive;
}

.cartIconContainer {
  padding: 0 8px;
  width: 42px;
  height: 32px;
  font-size: 25px;
}

.cartIconContainer:hover {
  cursor: pointer;
}

.flairContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.flair {
  width: 200px;
  height: 50px;
}

.logo{
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutImage {
  height: 175px;
  margin: 10px 0;
}

.description {
  margin-top: 10px;
}

@media only screen and (max-width: 700px) {
  .bodyContainer {
    flex-direction: column;
    width: 100%;
  }
  .cardBody {
    width: 85%;
  }
}
