<ion-header>
  <ion-toolbar>
    <ion-title>about</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
 <div>
   <img src="../../assets/unsplash/eyeshadow%20pallette.jpeg">
   <div>
       Biscuit bonbon pie danish wafer. Donut fruitcake cotton candy lollipop cake pastry donut biscuit. Candy canes jelly-o tart tart bonbon bear claw bonbon. Croissant donut lemon drops carrot cake wafer sweet. Cheesecake powder danish jelly-o sugar plum brownie pastry cookie ice cream. Cheesecake tart sesame snaps macaroon cupcake wafer pastry. Marzipan powder ice cream brownie candy canes lollipop pastry. Tootsie roll sugar plum carrot cake sweet roll croissant donut cookie candy canes marzipan. Sweet roll bonbon jelly candy canes gummies bonbon candy canes liquorice dessert. Macaroon powder candy. Tootsie roll oat cake cake apple pie bear claw sweet bonbon pudding. Sugar plum candy canes ice cream dessert gingerbread. Chocolate cake danish jujubes wafer jelly-o sugar plum tootsie roll chocolate bar cake. Lemon drops cookie donut cake carrot cake candy canes sweet roll marshmallow.
       Chupa chups gummi bears sweet roll gingerbread. Gingerbread cake croissant pudding pastry. Gummies danish icing halvah halvah biscuit jelly beans chocolate cake. Halvah chocolate cake wafer sweet roll. Cotton candy marshmallow chupa chups wafer candy canes topping sesame snaps. Cake pastry lemon drops cupcake jelly sweet pastry powder. Marzipan croissant cookie jelly-o sugar plum gummies candy chocolate. Jelly-o sweet brownie tootsie roll dragée chocolate bar. Wafer bear claw tootsie roll lemon drops chocolate cake cookie cupcake jujubes. Jelly chocolate cake lemon drops jelly beans gingerbread. Powder candy canes cupcake. Danish sweet roll pastry marzipan brownie gummi bears tart pie ice cream.
   </div>

 </div>

  <ion-card>
    <ion-card-content>
      Chocolate toffee jelly-o tootsie roll marshmallow croissant. Chocolate topping marzipan powder chupa chups. Powder croissant liquorice croissant carrot cake. Oat cake danish soufflé jelly-o cookie. Chocolate chupa chups donut fruitcake liquorice marzipan gummi bears toffee jelly beans. Chocolate carrot cake sweet roll topping. Pastry toffee bear claw caramels jujubes topping bonbon carrot cake dessert. Carrot cake brownie ice cream marzipan jelly-o macaroon cake. Gummies fruitcake cupcake bonbon halvah pastry pie topping donut. Gummies caramels pudding. Jelly beans soufflé bonbon. Gummies candy canes carrot cake halvah fruitcake. Macaroon chocolate sweet jelly toffee pie jelly beans.
      Cupcake tart sesame snaps. Bear claw apple pie powder croissant. Danish dessert donut pudding chupa chups gummies biscuit. Marshmallow jelly-o jelly-o lemon drops bonbon pudding bear claw. Brownie sweet powder marzipan candy canes tootsie roll wafer gingerbread. Cake tootsie roll danish tootsie roll ice cream sweet croissant. Tart halvah gummi bears liquorice bear claw muffin tootsie roll apple pie jujubes. Donut jelly-o pudding marshmallow gingerbread dessert muffin. Carrot cake tart halvah sugar plum donut halvah. Chupa chups bear claw halvah. Topping gummi bears chocolate halvah macaroon cupcake. Danish chupa chups marzipan ice cream halvah chocolate chocolate cake. Oat cake jelly-o brownie topping lemon drops jelly-o chupa chups pie.
      Toffee brownie cupcake. Sweet marzipan jelly-o fruitcake tootsie roll. Chocolate bar macaroon liquorice fruitcake powder pie jelly beans icing cotton candy. Pudding apple pie caramels oat cake lemon drops. Candy candy topping. Chocolate candy gummi bears icing danish. Dragée macaroon cookie candy canes muffin chocolate bar cake chocolate cake. Tiramisu sugar plum marshmallow pudding pudding icing icing cupcake sweet roll. Cake candy pie macaroon oat cake marshmallow icing. Jelly beans muffin powder sweet roll. Toffee tart apple pie donut. Cotton candy wafer liquorice donut.


    </ion-card-content>
  </ion-card>

</ion-content>
