<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>About to The Oasis</ion-title>
      <ion-buttons (click)="viewCart()" class="cartIconContainer" slot="end">
          <ion-icon name="cart"></ion-icon>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <!--Header-->
    <div class="headerContainer">
        <div class="flairContainer">
            <img class="flair" src="../../assets/newflair.png" alt="">
        </div>
        <div class="logo">
            <img src="../../assets/logoImages/camlogo.png" alt="">
        </div>
        <div class="flairContainer">
            <img class="flair" src="../../assets/newflair.png" alt="">
        </div>
    </div>

    <!--Body-->
 <div class="bodyContainer">
     <ion-card class="cardBody">
         <div class="description">Quality</div>
         <img src="../../assets/unsplash/pink_brushes.jpeg">
         <div class="written">
             bonbon bear claw bonbon. Croissant donut lemon drops carrot cake wafer sweet. Cheesecake powder danish jelly-o sugar plum brownie pastry cookie ice cream. Cheesecake tart sesame snaps macaroon cupcake wafer pastry. Marzipan powder ice cream brownie candy canes lollipop pastry. Tootsie roll sugar plum carrot cake sweet roll croissant donut cookie candy canes marzipan. Sweet roll bonbon jelly candy canes gummies bonbon candy canes liquorice dessert. Macaroon powder candy. Tootsie roll oat cake cake apple pie bear claw sweet bonbon pudding. Sugar plum candy canes ice cream dessert gingerbread. Chocolate cake danish jujubes wafer jelly-o sugar plum tootsie roll chocolate bar cake. Lemon drops cookie donut cake carrot cake candy canes sweet roll marshmallow.

         </div>
     </ion-card>

     <ion-card class="cardBody">
         <div class="description">Beauty</div>
         <img src="../../assets/unsplash/eyeshadow%20pallette.jpeg">
         <div class="written">
             bonbon bear claw bonbon. Croissant donut lemon drops carrot cake wafer sweet. Cheesecake powder danish jelly-o sugar plum brownie pastry cookie ice cream. Cheesecake tart sesame snaps macaroon cupcake wafer pastry. Marzipan powder ice cream brownie candy canes lollipop pastry. Tootsie roll sugar plum carrot cake sweet roll croissant donut cookie candy canes marzipan. Sweet roll bonbon jelly candy canes gummies bonbon candy canes liquorice dessert. Macaroon powder candy. Tootsie roll oat cake cake apple pie bear claw sweet bonbon pudding. Sugar plum candy canes ice cream dessert gingerbread. Chocolate cake danish jujubes wafer jelly-o sugar plum tootsie roll chocolate bar cake. Lemon drops cookie donut cake carrot cake candy canes sweet roll marshmallow.

         </div>
     </ion-card>

     <ion-card class="cardBody">
         <div class="description">Imagination</div>
         <img src="../../assets/unsplash/painted%20nails.jpeg">
         <div class="written">
             onbon bear claw bonbon. Croissant donut lemon drops carrot cake wafer sweet. Cheesecake powder danish jelly-o sugar plum brownie pastry cookie ice cream. Cheesecake tart sesame snaps macaroon cupcake wafer pastry. Marzipan powder ice cream brownie candy canes lollipop pastry. Tootsie roll sugar plum carrot cake sweet roll croissant donut cookie candy canes marzipan. Sweet roll bonbon jelly candy canes gummies bonbon candy canes liquorice dessert. Macaroon powder candy. Tootsie roll oat cake cake apple pie bear claw sweet bonbon pudding. Sugar plum candy canes ice cream dessert gingerbread. Chocolate cake danish jujubes wafer jelly-o sugar plum tootsie roll chocolate bar cake. Lemon drops cookie donut cake carrot cake candy canes sweet roll marshmallow.

         </div>
     </ion-card>
 </div>


</ion-content>
