<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>About to The Oasis</ion-title>
      <ion-buttons (click)="viewCart()" class="cartIconContainer" slot="end">
          <ion-icon name="cart"></ion-icon>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <!--Header-->
    <div class="headerContainer">
        <div class="flairContainer">
            <img class="flair" src="../../assets/newflair.png" alt="">
        </div>
        <div class="logo">
            <img src="../../assets/logoImages/camlogo.png" alt="">
        </div>
        <div class="flairContainer">
            <img class="flair" src="../../assets/newflair.png" alt="">
        </div>
    </div>

    <!--Body-->
 <div class="bodyContainer">
     <ion-card class="cardBody">
         <div class="description">Quality</div>
         <img class="aboutImage" src="../../assets/unsplash/eyeshadow%20pallette.jpeg">
         <div class="written">
             Bonbon bear claw bonbon. Croissant donut lemon drops carrot cake wafer sweet. Cheesecake powder danish jelly-o sugar plum brownie pastry cookie ice cream. Cheesecake tart sesame snaps macaroon cupcake wafer pastry. Marzipan powder ice cream brownie candy canes lollipop pastry. Tootsie roll sugar plum carrot cake sweet roll croissant donut cookie candy canes marzipan.

         </div>
     </ion-card>

     <ion-card class="cardBody">
         <div class="description">Beauty</div>
         <img class="aboutImage" src="../../assets/unsplash/makeUpBag.jpeg">
         <div class="written">
             Bonbon bear claw bonbon. Croissant donut lemon drops carrot cake wafer sweet. Cheesecake powder danish jelly-o sugar plum brownie pastry cookie ice cream. Cheesecake tart sesame snaps macaroon cupcake wafer pastry. Marzipan powder ice cream brownie candy canes lollipop pastry. Tootsie roll sugar plum carrot cake sweet roll croissant donut cookie candy canes marzipan.

         </div>
     </ion-card>

     <ion-card class="cardBody">
         <div class="description">Imagination</div>
         <img class="aboutImage" src="../../assets/unsplash/painted%20nails.jpeg">
         <div class="written">
             Bonbon bear claw bonbon. Croissant donut lemon drops carrot cake wafer sweet. Cheesecake powder danish jelly-o sugar plum brownie pastry cookie ice cream. Cheesecake tart sesame snaps macaroon cupcake wafer pastry. Marzipan powder ice cream brownie candy canes lollipop pastry. Tootsie roll sugar plum carrot cake sweet roll croissant donut cookie candy canes marzipan.

         </div>
     </ion-card>
 </div>


</ion-content>
