<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{loginService.currentUser ? loginService.currentUser.name + "'s Cart" : 'Cart'}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="container" *ngIf="loginService.currentUser">
  <div *ngIf="!firebaseService.toggleCheckout" class="cartContainer">
    <div class="cartOptions">
      <div class="cartOptionsContainer">
        <ion-button (click)="shopping()"><ion-icon name="arrow-dropleft"></ion-icon>Shopping</ion-button>
        <div class="totalContainer">
          <div class="totalTitle">Total</div>
          <div>${{firebaseService.total | number: '1.2-2'}}</div>
        </div>
        <ion-button (click)="checkout()">Checkout<ion-icon name="arrow-dropright"></ion-icon></ion-button>
      </div>
    </div>
    <div id="cartCard">
      <div class="cartProductContainer">
        <div class="cartItem" *ngFor="let item of firebaseService.cartArray; let i = index">
          <div class="cartContentContainer">
            <div class="cartContent">
              <div class="imageContainer" (click)="changeToProduct(item.product.id)">
                <img onerror="this.src='../../../assets/logoImages/camlogo.png'" [src]="item.product.image_link" alt="API Image Not Available" class="cartImage">
                <div class="cartTitle">{{item.product.name}}</div><div>{{item.product.brand !== null ? item.product.brand : 'maybelline'}}</div>
              </div>
              <div class="cartItemSection"><div (click)="firebaseService.removeItem(i)" class="remove">Remove</div></div>
              <div class="cartInfo cartItemSection"><ion-input (change)="firebaseService.updateQuantity(item)" class="cartInput" type="number" min="1" [(ngModel)]="item.quantity"></ion-input><div class="timesContainer">X</div><div>${{(item.product.price === '0.0' || item.product.price === null) ? '5.00' : item.product.price + (item.product.price.split('.')[1].length > 1? '': '0')}}</div></div>
              <div class="cartItemSection">${{(item.product.price === '0.0' || item.product.price === null) ? (item.quantity * 5) + '.00' : ((item.product.price * item.quantity) | number: '1.2-2')}}</div>
            </div>
          </div>
          <div class="flairContainer">
            <img class="flair" src="../../assets/newflair.png" alt="">
            <img class="flair" src="../../assets/newflair.png" alt="">
            <img class="flair" src="../../assets/newflair.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="firebaseService.toggleCheckout" id="checkout">
    <div>
      <app-checkout></app-checkout>
    </div>
  </div>
</ion-content>
