* {
  color: #442C2E;
  font-family: 'Poiret One', cursive;
}

.flairContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.flair {
  width: 200px;
  height: 50px;
}

.checkoutContainer {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkoutCard {
  padding: 20px;
  width: 75%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.cardTitle, .actionTitle {
  margin: 20px 0;
  font-size: 20px;
  text-align: center;
}

.cardForm, .cardActions {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardForm {
  padding-right: 15px;
  border-right: 2px solid #442C2E;
}

input{
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

ion-select {
  border: 1px solid #BFBFBF;
}

.orderDetailItem {
  margin-bottom: 10px;
}

.mobile {
  display: none;
}

@media only screen and (max-width: 700px) {
  .checkoutCard {
    flex-direction: column;
    width: 100%;
  }
  .cardForm {
    border: none;
  }
  .cardForm, .cardActions {
    width: 90%;
  }
  .mobile {
    display: flex;
  }
}
