<ion-header>
  <ion-toolbar>
    <ion-title>brand</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding *ngIf="!id">
  <div class="brandListContainer">
    <ion-card *ngFor="let brand of brands" (click)="changeMenu(brand.code)" class="brandListCard">
      <img class="brandImage" [src]="brand.image" alt="">
      <ion-button class="brandName">{{brand.name}}</ion-button>
    </ion-card>
  </div>
</ion-content>

<ion-content *ngIf="id">
  <div *ngIf="results$ | async as brandArray" class="brandListContainer">
    <ion-card *ngFor="let item of brandArray" class="brandListCard">
      <img onerror="this.src='../../../assets/logoImages/camlogo.png'" [src]="item.image_link" alt="API Image Not Available" class="brandImage">
      <div class="brandTitle">{{item.name}}</div>
      <div class="brandInfo">{{item.brand !== null ? item.brand : 'maybelline'}} | ${{(item.price === '0.0' || item.price === null) ? '5.00' : item.price + (item.price.split('.')[1].length > 1? '': '0')}}</div>
      <div class="buttonContainer">
        <ion-button class="brandButton" (click)="showDetails(item.id)">View Details</ion-button>
        <ion-button class="brandButton" (click)="loginService.currentUser ? addToCart(item) : routeToLogin()">{{loginService.currentUser ? 'Add To Cart' : 'Sign In For Cart'}}</ion-button>
      </div>
    </ion-card>
  </div>
</ion-content>
