<ion-header>
  <ion-toolbar>
    <ion-title>brand</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding *ngIf="!id">
  <ion-card *ngFor="let brand of brands" (click)="changeMenu(brand.code)">
    <ion-card-title>{{brand.name}}</ion-card-title>
  </ion-card>
</ion-content>


<ion-content *ngIf="id">
  <div *ngIf="results$ | async as product">
    <ion-card *ngFor="let item of product">
      <ion-card-title>{{item.name}}</ion-card-title>
      <button (click)="showDetails(item.id)">View Details</button>
    </ion-card>
  </div>
</ion-content>
