* {
  color: #442C2E;
}

ion-header * {
  --background: #FEDBD0;
  font-family: 'Poiret One', cursive;
}

ion-menu {
  --width: 50%;
  font-family: 'Poiret One', cursive;
}

ion-list * {
  font-family: 'Poiret One', cursive;
}
