* {
  color: #442C2E;
}

ion-header * {
  --background: #FEDBD0;
  font-family: 'Poiret One', cursive;
}

ion-menu {
  --width: 50%;
  font-family: 'Poiret One', cursive;
}

ion-list * {
  font-family: 'Poiret One', cursive;
}

.ionListContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.buttonContainer {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-button {
  width: 50%;
}
