* {
  color: #442C2E;
  font-family: 'Cinzel', serif;
}

.productListCard {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productImage {
  width: 215px;
  height: 150px;
  margin: 20px 10px 10px 10px;
  border: 2px solid #DCDCDC;
}

.productListContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 10px;
  z-index: 1;
}

.productTitle {
  margin: 10px 0;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  width: 100%;
}

.productInfo {
  margin: 10px 0;
}

.buttonContainer {
  width: 80%;
  margin: 10px 10px 20px 10px;
}

.productButton {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
}

.productName {
  margin: 10px 10px 20px 10px;
  color: #442C2E;
  background: #FEDBD0;
}

@media only screen and (max-width: 700px) {
  .productListCard {
    width: 45%;
    margin: 10px 0;
  }

  .productInfo {
    text-align: center;
  }
}
