<ion-header>
  <ion-toolbar>
    <ion-title>product</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!id" padding>
  <ion-card (click)="changePage('blush')">
    <ion-card-title>Blush</ion-card-title>
  </ion-card>
  <ion-card (click)="changePage('bronzer')">
    <ion-card-title>Bronzer</ion-card-title>
  </ion-card>
  <ion-card (click)="changePage('eyebrow')">
    <ion-card-title>Eyebrow</ion-card-title>
  </ion-card>
  <ion-card (click)="changePage('eyeliner')">
    <ion-card-title>Eyeliner</ion-card-title>
  </ion-card>
  <ion-card (click)="changePage('eyeshadow')">
    <ion-card-title>Eyeshadow</ion-card-title>
  </ion-card>
  <ion-card (click)="changePage('foundation')">
    <ion-card-title>Foundation</ion-card-title>
  </ion-card>
  <ion-card (click)="changePage('lipliner')">
    <ion-card-title>Lip Liner</ion-card-title>
  </ion-card>
  <ion-card (click)="changePage('lipstick')">
    <ion-card-title>Lipstick</ion-card-title>
  </ion-card>
  <ion-card (click)="changePage('mascara')">
    <ion-card-title>Mascara</ion-card-title>
  </ion-card>
  <ion-card (click)="changePage('nailpolish')">
    <ion-card-title>Nail Polish</ion-card-title>
  </ion-card>
</ion-content>

<ion-content *ngIf="id">
  <div *ngIf="results$ | async as product">
    <ion-card *ngFor="let item of product">
      <ion-card-title>{{item.name}}</ion-card-title>
    </ion-card>
  </div>
</ion-content>
