.productListCard {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productImage {
  height: 150px;
}

.productListContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.productTitle {
  text-align: center;
}

.productButton {
  display: flex;
  justify-content: center;
  width: 80%;
}
