* {
  color: #442C2E;
  font-family: 'Cinzel', serif;
}
ion-toolbar {
  --background: #FEEAE6;
}

ion-title {
  text-align: center;
}
ion-card {
  width: 80%;
}

ion-chip {
  font-size: 10px;
}

ion-label {
  color: #FFFFFF;
}
.customerName{
  height: 30px;
  font-size: 25px;
  text-align: center;
  margin-bottom: 40px;
}
.name {
  font-weight: bold;
  height: 40px;
}

.buttonContainer {
  width: 80%;
  margin: 10px 10px 20px 10px;
}

.similarContainer {
  display: flex;
  //overflow-x: scroll;
  width: 80%;
  align-items: baseline;
}

.productImage {
  width: 100px;
  height: 100px;
}
.purchase {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  height: 100%;
}
.orderContainer {
  height: 200px;
  width: 100%;
}
.purchaseContainer {
  height: auto;
  width: 100%;
  margin-bottom: 30px;
}

.similarCard {
  display: flex;
  flex-direction: column;
  width: 200px;
  justify-content: center;
  align-items: center;
  margin: 10px;
  cursor: pointer;
  text-align: center;
}

.similarImage {
  margin-bottom: 20px;
  border: 1px solid #DCDCDC;
}
.orderNumber {
  display: flex;
  justify-content: center;
  height: 40px;
  font-size: 25px;
  text-align: center;

}
.total {
  font-size: 15px;
  width: 100%;
  text-align: center;
}

.flairContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.flair {
  width: 100px;
  height: 25px;
}

@media only screen and (max-width: 700px) {

}

