<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card>
    <ion-card>{{ loginService.currentUser ? loginService.currentUser.name : ''}}</ion-card>
      <ion-card class="profileContent">
        <ion-card class="favoritesContainer">
          <ion-card class="showFavs" *ngIf="seeFavs">
          <ion-card *ngFor="let fav of favorites"></ion-card>
          </ion-card>
          <ion-button (click)="toggleFavorites()">See Favorites</ion-button>
        </ion-card>
      </ion-card>
  </ion-card>

</ion-content>
