<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
      <ion-buttons (click)="viewCart()" class="cartIconContainer" slot="end">
          <ion-icon name="cart"></ion-icon>
      </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding>

    <div>
        <div class="customerName">Valued Customer <img class="flair" src="../../../assets/newflair.png" alt=""> {{ loginService.currentUser ? loginService.currentUser.name : ''}}</div>
        <div class="orderContainer">
            <ion-card class="purchaseContainer"*ngFor="let purchase of loginService.currentUser.purchaseHistory ? loginService.currentUser.purchaseHistory : [], let i = index">
                <div>
                    <div class="orderNumber">
                        <img class="flair" src="../../../assets/newflair.png" alt="">
                        <div >Order #{{i + 1}}</div>
                        <img class="flair" src="../../../assets/newflair.png" alt="">
                    </div>
                    <div class="total">Total ${{purchase.total}}</div>
                </div>

                    <div class="purchase">
                        <div class="orderItem similarContainer" *ngFor="let item of purchase.order" >
                            <div class="similarCard">
                                <img onerror="this.src='../../../assets/logoImages/camlogo.png'" [src]="item.product.image_link" alt="API Image Not Available" class="productImage">
                                <div class="name">{{item.product.name}}</div>
                                <div class="quantity">Quantity: {{item.quantity}}</div>
                                <div class="total">Product total ${{(item.product.price === '0.0' || item.product.price === null) ? (item.quantity * 5) + '.00' : ((item.product.price * item.quantity) | number: '1.2-2')}}</div>

                            </div>
                        </div>
                    </div>


            </ion-card>
        </div>
    </div>

</ion-content>
