* {
  color: #442C2E;
  font-family: 'Poiret One', cursive;
}

ion-title {
  text-align: center;
}

ion-toolbar, ion-tab-bar {
  --background: #FEEAE6;
}

ion-tab-button {
  margin: 0 1px;
  border: 1px solid #FEDBD0;
}
