<ion-header>
  <ion-toolbar>
    <ion-title>search</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-content padding>
    <div *ngIf="product$ | async as product">
      <div *ngFor="let item of product">
        <ion-card>
          <ion-card-title>{{item.name}}</ion-card-title>
          <ion-card-content>{{item.brand}}</ion-card-content>
          <ion-card-content>${{item.price}}</ion-card-content>
          <img src="{{item.api_featured_image}}">
        </ion-card>
      </div>
    </div>
  </ion-content>
</ion-content>
